<div class="container">
  <h3>{{post.title}}</h3>
  <button class="btn btn-primary"{{action 'update' post}} type="button" name="button">Update</button>
  <button class="btn btn-danger"{{action 'delete'}} type="button" name="button">Delete</button>
</div>


{{yield}}
