ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
li {
  list-style: none;
  padding-right: 2em;
}

li:first-child {
  margin-right: auto;
}
#logo {
  height: 50px;
}
#about {
display: flex;
flex-direction: column;
align-items: center;
}

header {
  background: lightblue;
  width: 100%;
}

.nav-item {
  padding-top: 15px;
  font-weight: bolder;
  color: white;
}

.tiles img {
  height: 250px;
}
/**** Add Post Form *******/
.new__post {
  display: flex;
  flex-direction: column;
}


/**** Individual Post *****/

.text__area{
  padding-top: 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title__area {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post__image {
  height: 300px;
}
